Project-Level Practice Questions------->



    1.	Yearly Mineral Production Analysis
o	Analyze the total quantity of each mineral produced per year across all districts.

o	Identify which mineral had the highest production in each year.



    2.	Company Performance Analysis
o	Create a pivot table to find the total revenue generated by each company for each year.

o	Determine which company generated the highest revenue in any specific year.


    
    3.	District-wise Mineral Production Trends
o	Create a pivot table to find the total quantity of each mineral produced in each district over the years.

o	Identify which district has consistently produced the most minerals and in which year.----------->>>>>>*****



    4.	Mineral Contribution to Revenue
o	Analyze the revenue contribution of each mineral per company.

o	Identify which mineral contributes the highest revenue for each company.



    5.	Top Producing Companies for Each Mineral
o	Find the top company in terms of production quantity for each mineral across all years.

o	Create a summary showing which companies specialize in which minerals.

                                                        
                                                        
    6.	Yearly Trends for a Specific Mineral
o	Select a specific mineral (e.g., "Coal") and analyze its yearly production trends by district.

o	Determine which district has shown the most growth or decline in production for that mineral.

    
    
    7.	District and Company Collaboration Analysis
o	Analyze the relationship between districts and companies:

	How much revenue does each company generate per district?

	Which company operates in the most districts?




    8.	Revenue-to-Quantity Efficiency
o	Calculate the revenue-to-quantity ratio for each company and mineral combination.

o	Identify the most efficient companies in terms of revenue generated per tonne of mineral.

    

    9.	Mineral Production Dominance Over Time
o	Determine which mineral was the most produced for each year.

o	Identify shifts in mineral dominance over the years.

    
    
    10.	Multi-Index Pivot Analysis
o	Create a multi-index pivot table with District and Year as indices, Mineral as columns, and Quantity (Tonnes) as values.

o	Analyze trends for specific districts or years.



    11.	Aggregate Production Trends
o	Calculate the total quantity of all minerals produced for each year.

o	Create a pivot table showing the share of each mineral in total production for each year.

                                                         
                                                         
    12.	Exploring Rare Minerals
o	Identify minerals with the lowest production quantities across all years and districts.

o	Create a pivot table focusing on rare minerals and their associated revenues.


    
    
    13.	Company Specialization
o	Create a pivot table to determine which company specializes in producing which minerals based on total quantity and revenue.

o	Identify companies with diversified portfolios versus those focusing on specific minerals.

    
    
    14.	Revenue and Quantity Comparison by Year
o	Analyze the relationship between revenue and production quantity for each year.

o	Identify years where high production did not correlate with high revenue and investigate potential reasons.

    
    
    15.	District Contribution to State Revenue
o	Calculate each district's contribution to the total state revenue for each year.

o	Identify districts that are key revenue contributors over the years.

In [1]:
import pandas as pd

# Corrected dictionary data
data = {
    'District': [
        'Dhanbad', 'Ranchi', 'Hazaribagh', 'Bokaro', 'Giridih', 'Chatra', 'West Singhbhum', 
        'East Singhbhum', 'Ramgarh', 'Palamu', 'Lohardaga', 'Dumka', 'Simdega', 'Deoghar',
    ] * 3,
    'Mineral': [
        'Coal', 'Bauxite', 'Limestone', 'Coal', 'Iron Ore', 'Copper', 'Chromite', 
        'Gold', 'Copper', 'Uranium', 'Bauxite', 'Limestone', 'Gold', 'Mica',
        'Iron Ore', 'Coal', 'Chromite', 'Limestone', 'Coal', 'Gold', 'Uranium', 
        'Copper', 'Mica', 'Bauxite', 'Coal', 'Copper', 'Iron Ore', 'Gold',
        'Gold', 'Iron Ore', 'Coal', 'Uranium', 'Chromite', 'Copper', 'Mica', 
        'Limestone', 'Coal', 'Copper', 'Gold', 'Uranium', 'Chromite',"iron"
    ],
    'Quantity (Tonnes)': [
        50000, 100000, 75000, 60000, 80000, 20000, 15000,
        5000, 10000, 30000, 20000, 40000, 1500, 12000,
        60000, 55000, 20000, 75000, 65000, 7000, 25000,
        8000, 12000, 35000, 40000, 9000, 85000, 10000,
        7000, 95000, 65000, 35000, 15000, 9000, 13000,
        45000, 50000, 8000, 7000, 27000, 15000,10000
    ],
    'Year': [
        2020, 2021, 2022, 2020, 2021, 2022, 2020,
        2021, 2022, 2020, 2021, 2022, 2020, 2021,
        2022, 2020, 2021, 2022, 2020, 2021, 2022,
        2020, 2021, 2022, 2020, 2021, 2022, 2020,
        2021, 2022, 2020, 2021, 2022, 2020, 2021,
        2022, 2020, 2021, 2022, 2020, 2021,2022
    ],
    'Company': [
        'Coal India', 'NALCO', 'UltraTech', 'Coal India', 'TATA Steel', 'Hindustan Copper', 'OMC', 
        'MECL', 'Hindustan Copper', 'UCIL', 'NALCO', 'ACC Cement', 'MECL', 'HCL',
        'TATA Steel', 'Coal India', 'OMC', 'UltraTech', 'Coal India', 'MECL', 'UCIL',
        'Hindustan Copper', 'HCL', 'NALCO', 'Coal India', 'Hindustan Copper', 'TATA Steel', 'MECL',
        'MECL', 'TATA Steel', 'Coal India', 'UCIL', 'OMC', 'Hindustan Copper', 'HCL',
        'UltraTech', 'Coal India', 'Hindustan Copper', 'MECL', 'UCIL', 'NALCO',"HCL"
    ],
    'Revenue (Million INR)': [
        1000, 2000, 1500, 1200, 1600, 400, 300,
        100, 250, 700, 400, 800, 30, 200,
        1800, 1500, 350, 1600, 1400, 300, 900,
        350, 200, 500, 800, 450, 1900, 250,
        200, 2100, 1400, 700, 300, 450, 600,
        900, 1100, 350, 300, 1000, 450,500
    ]
}

# Convert dictionary to DataFrame
df = pd.DataFrame(data)
df.head(3)

,District,Mineral,Quantity (Tonnes),Year,Company,Revenue (Million INR)
0,Dhanbad,Coal,50000,2020,Coal India,1000
1,Ranchi,Bauxite,100000,2021,NALCO,2000
2,Hazaribagh,Limestone,75000,2022,UltraTech,1500

    1.	Yearly Mineral Production Analysis

    
o	Analyze the total quantity of each mineral produced per year across all districts.


o	Identify which mineral had the highest production in each year.

syntax ------->>>>      pd.pivot_table(df, index = '', columns = '', values = '', aggfunc = '')

In [2]:
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning)

In [3]:
# o Analyze the total quantity of each mineral produced per year across all districts.


pd.pivot_table(df,index = 'Mineral', columns = 'Year', values = 'Quantity (Tonnes)', aggfunc = 'sum')

Year           2020      2021      2022
Mineral
Bauxite         NaN  120000.0   35000.0
Chromite    15000.0   35000.0   15000.0
Coal       385000.0       NaN       NaN
Copper      17000.0   17000.0   30000.0
Gold        11500.0   19000.0    7000.0
Iron Ore        NaN   80000.0  240000.0
Limestone       NaN       NaN  235000.0
Mica            NaN   37000.0       NaN
Uranium     57000.0   35000.0   25000.0
iron            NaN       NaN   10000.0

In [4]:
# o Identify which mineral had the highest production in each year.


pd.pivot_table(df, index = 'Mineral', columns = 'Year', values = 'Quantity (Tonnes)', aggfunc = 'max').idxmax()

Year
2020        Coal
2021     Bauxite
2022    Iron Ore
dtype: object

Explanation:



pd.pivot_table(...): Creates a pivot table summing the quantities of minerals for each year.


                                                                             
.idxmax(): Directly identifies the index (mineral) corresponding to the maximum value in each year.

    2.	Company Performance Analysis




o	Create a pivot table to find the total revenue generated by each company for each year.




                                                                            
o	Determine which company generated the highest revenue in any specific year.

In [5]:
#   o Create a pivot table to find the total revenue generated by each company for each year.



pd.pivot_table(df, index = 'Company', columns = 'Year', values = 'Revenue (Million INR)', aggfunc = 'sum')

Year                2020    2021    2022
Company
ACC Cement           NaN     NaN   800.0
Coal India        8400.0     NaN     NaN
HCL                  NaN  1000.0   500.0
Hindustan Copper   800.0   800.0   650.0
MECL               280.0   600.0   300.0
NALCO                NaN  2850.0   500.0
OMC                300.0   350.0   300.0
TATA Steel           NaN  1600.0  5800.0
UCIL              1700.0   700.0   900.0
UltraTech            NaN     NaN  4000.0

In [6]:
# o Determine which company generated the highest revenue in any specific year.



pd.pivot_table(df,index = 'Company' , columns = 'Year', values = 'Revenue (Million INR)',aggfunc = 'sum').idxmax()

Year
2020    Coal India
2021         NALCO
2022    TATA Steel
dtype: object

    3.	District-wise Mineral Production Trends


o	Create a pivot table to find the total quantity of each mineral produced in each district over the years.




o	Identify which district has consistently produced the most minerals and in which year.

In [7]:
#   o Create a pivot table to find the total quantity of each mineral produced in each district over the years.



pd.pivot_table(df,index = ['Mineral','District'], columns = 'Year', values = 'Quantity (Tonnes)', aggfunc = 'sum')

Year                         2020      2021     2022
Mineral   District
Bauxite   Lohardaga           NaN   20000.0      NaN
          Palamu              NaN       NaN  35000.0
          Ranchi              NaN  100000.0      NaN
Chromite  Giridih             NaN       NaN  15000.0
          Hazaribagh          NaN   20000.0      NaN
          Simdega             NaN   15000.0      NaN
          West Singhbhum  15000.0       NaN      NaN
Coal      Bokaro          60000.0       NaN      NaN
          Dhanbad         50000.0       NaN      NaN
          Giridih         65000.0       NaN      NaN
          Hazaribagh      65000.0       NaN      NaN
          Lohardaga       40000.0       NaN      NaN
          Ramgarh         50000.0       NaN      NaN
          Ranchi          55000.0       NaN      NaN
Copper    Chatra           9000.0       NaN  20000.0
          Dumka               NaN    9000.0      NaN
          East Singhbhum   8000.0       NaN      NaN
          Palamu              NaN    8000.0      NaN
          Ramgarh             NaN       NaN  10000.0
Gold      Chatra              NaN    7000.0      NaN
          Deoghar         10000.0       NaN      NaN
          Dhanbad             NaN    7000.0      NaN
          East Singhbhum      NaN    5000.0      NaN
          Lohardaga           NaN       NaN   7000.0
          Simdega          1500.0       NaN      NaN
Iron Ore  Dhanbad             NaN       NaN  60000.0
          Giridih             NaN   80000.0      NaN
          Ranchi              NaN       NaN  95000.0
          Simdega             NaN       NaN  85000.0
Limestone Bokaro              NaN       NaN  75000.0
          Dumka               NaN       NaN  40000.0
          East Singhbhum      NaN       NaN  45000.0
          Hazaribagh          NaN       NaN  75000.0
Mica      Deoghar             NaN   12000.0      NaN
          Ramgarh             NaN   12000.0      NaN
          West Singhbhum      NaN   13000.0      NaN
Uranium   Bokaro              NaN   35000.0      NaN
          Dumka           27000.0       NaN      NaN
          Palamu          30000.0       NaN      NaN
          West Singhbhum      NaN       NaN  25000.0
iron      Deoghar             NaN       NaN  10000.0

In [8]:
#    o Identify which district has consistently produced the most minerals and in which year.



total_by_district = pd.pivot_table(df,index = 'District', values = 'Quantity (Tonnes)', aggfunc = 'sum')
total_by_district

                Quantity (Tonnes)
District
Bokaro                     170000
Chatra                      36000
Deoghar                     32000
Dhanbad                    117000
Dumka                       76000
East Singhbhum              58000
Giridih                    160000
Hazaribagh                 160000
Lohardaga                   67000
Palamu                      73000
Ramgarh                     72000
Ranchi                     250000
Simdega                    101500
West Singhbhum              53000

In [9]:
most_consistent_district = total_by_district.idxmax()
most_consistent_district

Quantity (Tonnes)    Ranchi
dtype: object

In [10]:
yearly_by_district = pd.pivot_table(df, index='District', columns='Year', values='Quantity (Tonnes)', aggfunc='sum')
year_with_max_production = yearly_by_district.loc[most_consistent_district].idxmax()
year_with_max_production

Year
2020    Ranchi
2021    Ranchi
2022    Ranchi
dtype: object

    4.	Mineral Contribution to Revenue



o	Analyze the revenue contribution of each mineral per company.



o	Identify which mineral contributes the highest revenue for each company.

In [11]:
# o Analyze the revenue contribution of each mineral per company.



pd.pivot_table(df,index = 'Mineral', columns = 'Company', values = 'Revenue (Million INR)', aggfunc = 'sum')

Company,ACC Cement,Coal India,HCL,Hindustan Copper,MECL,NALCO,OMC,TATA Steel,UCIL,UltraTech
Mineral,,,,,,,,,,
Bauxite,NaN,NaN,NaN,NaN,NaN,2900.0,NaN,NaN,NaN,NaN
Chromite,NaN,NaN,NaN,NaN,NaN,450.0,950.0,NaN,NaN,NaN
Coal,NaN,8400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Copper,NaN,NaN,NaN,2250.0,NaN,NaN,NaN,NaN,NaN,NaN
Gold,NaN,NaN,NaN,NaN,1180.0,NaN,NaN,NaN,NaN,NaN
Iron Ore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7400.0,NaN,NaN
Limestone,800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4000.0
Mica,NaN,NaN,1000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Uranium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3300.0,NaN
iron,NaN,NaN,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
#   o Identify which mineral contributes the highest revenue for each company.


pd.pivot_table(df,index = 'Company', columns = 'Mineral', values = 'Revenue (Million INR)', aggfunc = 'sum').idxmax()

Mineral
Bauxite                 NALCO
Chromite                  OMC
Coal               Coal India
Copper       Hindustan Copper
Gold                     MECL
Iron Ore           TATA Steel
Limestone           UltraTech
Mica                      HCL
Uranium                  UCIL
iron                      HCL
dtype: object

    5.	Top Producing Companies for Each Mineral

                               
o	Find the top company in terms of production quantity for each mineral across all years.

                                                        
o	Create a summary showing which companies specialize in which minerals.

In [13]:
#  o Find the top company in terms of production quantity for each mineral across all years.


pd.pivot_table(df,index = 'Mineral', columns = 'Company', values = 'Quantity (Tonnes)', aggfunc = 'sum').idxmax()

Company
ACC Cement          Limestone
Coal India               Coal
HCL                      Mica
Hindustan Copper       Copper
MECL                     Gold
NALCO                 Bauxite
OMC                  Chromite
TATA Steel           Iron Ore
UCIL                  Uranium
UltraTech           Limestone
dtype: object

In [14]:
#  o Create a summary showing which companies specialize in which minerals (in terms of highest production).



pd.pivot_table(df,index = 'Company', columns = 'Mineral', values = 'Quantity (Tonnes)', aggfunc = 'sum').idxmax(axis=1)

Company
ACC Cement          Limestone
Coal India               Coal
HCL                      Mica
Hindustan Copper       Copper
MECL                     Gold
NALCO                 Bauxite
OMC                  Chromite
TATA Steel           Iron Ore
UCIL                  Uranium
UltraTech           Limestone
dtype: object

    6.	Yearly Trends for a Specific Mineral


o	Select a specific mineral (e.g., "Coal") and analyze its yearly production trends by district.

    
o	Determine which district has shown the most growth or decline in production for that mineral.

In [15]:
#   o Select a specific mineral (e.g., "Coal") and analyze its yearly production trends by district.


coal_data = df[df['Mineral']=='Coal']
coal_data

,District,Mineral,Quantity (Tonnes),Year,Company,Revenue (Million INR)
0,Dhanbad,Coal,50000,2020,Coal India,1000
3,Bokaro,Coal,60000,2020,Coal India,1200
15,Ranchi,Coal,55000,2020,Coal India,1500
18,Giridih,Coal,65000,2020,Coal India,1400
24,Lohardaga,Coal,40000,2020,Coal India,800
30,Hazaribagh,Coal,65000,2020,Coal India,1400
36,Ramgarh,Coal,50000,2020,Coal India,1100

In [16]:
pd.pivot_table(coal_data,index = 'District', columns = 'Year', values = 'Quantity (Tonnes)', aggfunc = 'sum')

Year         2020
District
Bokaro      60000
Dhanbad     50000
Giridih     65000
Hazaribagh  65000
Lohardaga   40000
Ramgarh     50000
Ranchi      55000

In [17]:
#   o Determine which district has shown the most growth or decline in production for that mineral.



coal_data = df[df['Mineral']=='Coal']
coal_data

,District,Mineral,Quantity (Tonnes),Year,Company,Revenue (Million INR)
0,Dhanbad,Coal,50000,2020,Coal India,1000
3,Bokaro,Coal,60000,2020,Coal India,1200
15,Ranchi,Coal,55000,2020,Coal India,1500
18,Giridih,Coal,65000,2020,Coal India,1400
24,Lohardaga,Coal,40000,2020,Coal India,800
30,Hazaribagh,Coal,65000,2020,Coal India,1400
36,Ramgarh,Coal,50000,2020,Coal India,1100

In [18]:
yearly_trend = pd.pivot_table(coal_data,index = 'District', columns = 'Year', values = 'Quantity (Tonnes)', aggfunc = 'sum')
yearly_trend

Year         2020
District
Bokaro      60000
Dhanbad     50000
Giridih     65000
Hazaribagh  65000
Lohardaga   40000
Ramgarh     50000
Ranchi      55000

In [19]:
most_growth = yearly_trend.max(axis = 1).idxmax()
most_growth

'Giridih'

In [20]:
most_decline = yearly_trend.min(axis = 1).idxmin()
most_decline

'Lohardaga'

In [21]:
print(f'The District with maximum growth in production is {most_growth}')
print(f'The District with decline in production growth is {most_decline}')

The District with maximum growth in production is Giridih
The District with decline in production growth is Lohardaga

    7.	District and Company Collaboration Analysis


o	Analyze the relationship between districts and companies:

	How much revenue does each company generate per district?

	Which company operates in the most districts?

In [22]:
#    How much revenue does each company generate per district?



pd.pivot_table(df,index = 'Company', columns = 'District', values = 'Revenue (Million INR)', aggfunc = 'sum')

District,Bokaro,Chatra,Deoghar,Dhanbad,Dumka,East Singhbhum,Giridih,Hazaribagh,Lohardaga,Palamu,Ramgarh,Ranchi,Simdega,West Singhbhum
Company,,,,,,,,,,,,,,
ACC Cement,NaN,NaN,NaN,NaN,800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Coal India,1200.0,NaN,NaN,1000.0,NaN,NaN,1400.0,1400.0,800.0,NaN,1100.0,1500.0,NaN,NaN
HCL,NaN,NaN,700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200.0,NaN,NaN,600.0
Hindustan Copper,NaN,850.0,NaN,NaN,450.0,350.0,NaN,NaN,NaN,350.0,250.0,NaN,NaN,NaN
MECL,NaN,300.0,250.0,200.0,NaN,100.0,NaN,NaN,300.0,NaN,NaN,NaN,30.0,NaN
NALCO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,400.0,500.0,NaN,2000.0,450.0,NaN
OMC,NaN,NaN,NaN,NaN,NaN,NaN,300.0,350.0,NaN,NaN,NaN,NaN,NaN,300.0
TATA Steel,NaN,NaN,NaN,1800.0,NaN,NaN,1600.0,NaN,NaN,NaN,NaN,2100.0,1900.0,NaN
UCIL,700.0,NaN,NaN,NaN,1000.0,NaN,NaN,NaN,NaN,700.0,NaN,NaN,NaN,900.0
UltraTech,1600.0,NaN,NaN,NaN,NaN,900.0,NaN,1500.0,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
#     Which company operates in the most districts?



unique_district = df.groupby('Company')['District'].nunique()
unique_district

Company
ACC Cement          1
Coal India          7
HCL                 3
Hindustan Copper    5
MECL                6
NALCO               4
OMC                 3
TATA Steel          4
UCIL                4
UltraTech           3
Name: District, dtype: int64

In [24]:
top_company = unique_district.idxmax()
top_company

'Coal India'

In [25]:
most_district = unique_district.max()
most_district

7

    8.	Revenue-to-Quantity Efficiency


o	Calculate the revenue-to-quantity ratio for each company and mineral combination.

    
o	Identify the most efficient companies in terms of revenue generated per tonne of mineral.

In [26]:
#  o Calculate the revenue-to-quantity ratio for each company and mineral combination.


result = pd.pivot_table(df,index = 'Mineral', columns = 'Company', values = ['Revenue (Million INR)','Quantity (Tonnes)'], aggfunc = 'sum')
result.head(2)

         Quantity (Tonnes)                                                 \
Company         ACC Cement Coal India HCL Hindustan Copper MECL     NALCO
Mineral
Bauxite                NaN        NaN NaN              NaN  NaN  155000.0
Chromite               NaN        NaN NaN              NaN  NaN   15000.0

                                            Revenue (Million INR)             \
Company       OMC TATA Steel UCIL UltraTech            ACC Cement Coal India
Mineral
Bauxite       NaN        NaN  NaN       NaN                   NaN        NaN
Chromite  50000.0        NaN  NaN       NaN                   NaN        NaN


Company  HCL Hindustan Copper MECL   NALCO    OMC TATA Steel UCIL UltraTech
Mineral
Bauxite  NaN              NaN  NaN  2900.0    NaN        NaN  NaN       NaN
Chromite NaN              NaN  NaN   450.0  950.0        NaN  NaN       NaN

In [27]:
ratio = result['Revenue (Million INR)'] / result['Quantity (Tonnes)']
ratio

Company,ACC Cement,Coal India,HCL,Hindustan Copper,MECL,NALCO,OMC,TATA Steel,UCIL,UltraTech
Mineral,,,,,,,,,,
Bauxite,NaN,NaN,NaN,NaN,NaN,0.01871,NaN,NaN,NaN,NaN
Chromite,NaN,NaN,NaN,NaN,NaN,0.03000,0.019,NaN,NaN,NaN
Coal,NaN,0.021818,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Copper,NaN,NaN,NaN,0.035156,NaN,NaN,NaN,NaN,NaN,NaN
Gold,NaN,NaN,NaN,NaN,0.031467,NaN,NaN,NaN,NaN,NaN
Iron Ore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.023125,NaN,NaN
Limestone,0.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.020513
Mica,NaN,NaN,0.027027,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Uranium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.028205,NaN
iron,NaN,NaN,0.050000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
ratio.fillna(0, inplace=True)
ratio

Company,ACC Cement,Coal India,HCL,Hindustan Copper,MECL,NALCO,OMC,TATA Steel,UCIL,UltraTech
Mineral,,,,,,,,,,
Bauxite,0.00,0.000000,0.000000,0.000000,0.000000,0.01871,0.000,0.000000,0.000000,0.000000
Chromite,0.00,0.000000,0.000000,0.000000,0.000000,0.03000,0.019,0.000000,0.000000,0.000000
Coal,0.00,0.021818,0.000000,0.000000,0.000000,0.00000,0.000,0.000000,0.000000,0.000000
Copper,0.00,0.000000,0.000000,0.035156,0.000000,0.00000,0.000,0.000000,0.000000,0.000000
Gold,0.00,0.000000,0.000000,0.000000,0.031467,0.00000,0.000,0.000000,0.000000,0.000000
Iron Ore,0.00,0.000000,0.000000,0.000000,0.000000,0.00000,0.000,0.023125,0.000000,0.000000
Limestone,0.02,0.000000,0.000000,0.000000,0.000000,0.00000,0.000,0.000000,0.000000,0.020513
Mica,0.00,0.000000,0.027027,0.000000,0.000000,0.00000,0.000,0.000000,0.000000,0.000000
Uranium,0.00,0.000000,0.000000,0.000000,0.000000,0.00000,0.000,0.000000,0.028205,0.000000
iron,0.00,0.000000,0.050000,0.000000,0.000000,0.00000,0.000,0.000000,0.000000,0.000000

In [29]:
# 2nd attempt using groupby().

#  o Calculate the revenue-to-quantity ratio for each company and mineral combination.


grouped = df.groupby(['Company','Mineral'])[['Revenue (Million INR)','Quantity (Tonnes)']].sum()
grouped

                            Revenue (Million INR)  Quantity (Tonnes)
Company          Mineral
ACC Cement       Limestone                    800              40000
Coal India       Coal                        8400             385000
HCL              Mica                        1000              37000
                 iron                         500              10000
Hindustan Copper Copper                      2250              64000
MECL             Gold                        1180              37500
NALCO            Bauxite                     2900             155000
                 Chromite                     450              15000
OMC              Chromite                     950              50000
TATA Steel       Iron Ore                    7400             320000
UCIL             Uranium                     3300             117000
UltraTech        Limestone                   4000             195000

In [30]:
# different approach using normal new row creation and calculating the ratio.

grouped['Revenue to Quantity Ratio'] = grouped['Revenue (Million INR)'] / grouped['Quantity (Tonnes)']
grouped.head(2)

,,Revenue (Million INR),Quantity (Tonnes),Revenue to Quantity Ratio
Company,Mineral,,,
ACC Cement,Limestone,800,40000,0.020000
Coal India,Coal,8400,385000,0.021818

In [31]:
# different approach using lambda with apply and creating a new column.


grouped['Revenue to Quantity Ratio'] = grouped.apply(lambda x : x['Revenue (Million INR)'] / x['Quantity (Tonnes)'], axis = 1)
grouped

                            Revenue (Million INR)  Quantity (Tonnes)  \
Company          Mineral
ACC Cement       Limestone                    800              40000
Coal India       Coal                        8400             385000
HCL              Mica                        1000              37000
                 iron                         500              10000
Hindustan Copper Copper                      2250              64000
MECL             Gold                        1180              37500
NALCO            Bauxite                     2900             155000
                 Chromite                     450              15000
OMC              Chromite                     950              50000
TATA Steel       Iron Ore                    7400             320000
UCIL             Uranium                     3300             117000
UltraTech        Limestone                   4000             195000

                            Revenue to Quantity Ratio
Company          Mineral
ACC Cement       Limestone                   0.020000
Coal India       Coal                        0.021818
HCL              Mica                        0.027027
                 iron                        0.050000
Hindustan Copper Copper                      0.035156
MECL             Gold                        0.031467
NALCO            Bauxite                     0.018710
                 Chromite                    0.030000
OMC              Chromite                    0.019000
TATA Steel       Iron Ore                    0.023125
UCIL             Uranium                     0.028205
UltraTech        Limestone                   0.020513

    9.	Mineral Production Dominance Over Time


o	Determine which mineral was the most produced for each year.

                                                 
o	Identify shifts in mineral dominance over the years.

In [32]:
#  o Determine which mineral was the most produced for each year.


most_produced = pd.pivot_table(df,index = 'Mineral', columns = 'Year', values = 'Quantity (Tonnes)', aggfunc = 'sum').idxmax()
most_produced

Year
2020        Coal
2021     Bauxite
2022    Iron Ore
dtype: object

In [33]:
#  o Identify shifts in mineral dominance over the years.


shifts = most_produced[most_produced != most_produced.shift()]
shifts

Year
2020        Coal
2021     Bauxite
2022    Iron Ore
dtype: object

    10.	Multi-Index Pivot Analysis


o	Create a multi-index pivot table with District and Year as indices, Mineral as columns, and Quantity (Tonnes) as values.


o	Analyze trends for specific districts or years.

In [34]:
# o	Create a multi-index pivot table with District and Year as indices, Mineral as columns, and Quantity (Tonnes) as values.



pd.pivot_table(df, index = ['District','Year'], columns = 'Mineral', values = 'Quantity (Tonnes)').fillna(0)

Mineral               Bauxite  Chromite     Coal   Copper     Gold  Iron Ore  \
District       Year
Bokaro         2020       0.0       0.0  60000.0      0.0      0.0       0.0
               2021       0.0       0.0      0.0      0.0      0.0       0.0
               2022       0.0       0.0      0.0      0.0      0.0       0.0
Chatra         2020       0.0       0.0      0.0   9000.0      0.0       0.0
               2021       0.0       0.0      0.0      0.0   7000.0       0.0
               2022       0.0       0.0      0.0  20000.0      0.0       0.0
Deoghar        2020       0.0       0.0      0.0      0.0  10000.0       0.0
               2021       0.0       0.0      0.0      0.0      0.0       0.0
               2022       0.0       0.0      0.0      0.0      0.0       0.0
Dhanbad        2020       0.0       0.0  50000.0      0.0      0.0       0.0
               2021       0.0       0.0      0.0      0.0   7000.0       0.0
               2022       0.0       0.0      0.0      0.0      0.0   60000.0
Dumka          2020       0.0       0.0      0.0      0.0      0.0       0.0
               2021       0.0       0.0      0.0   9000.0      0.0       0.0
               2022       0.0       0.0      0.0      0.0      0.0       0.0
East Singhbhum 2020       0.0       0.0      0.0   8000.0      0.0       0.0
               2021       0.0       0.0      0.0      0.0   5000.0       0.0
               2022       0.0       0.0      0.0      0.0      0.0       0.0
Giridih        2020       0.0       0.0  65000.0      0.0      0.0       0.0
               2021       0.0       0.0      0.0      0.0      0.0   80000.0
               2022       0.0   15000.0      0.0      0.0      0.0       0.0
Hazaribagh     2020       0.0       0.0  65000.0      0.0      0.0       0.0
               2021       0.0   20000.0      0.0      0.0      0.0       0.0
               2022       0.0       0.0      0.0      0.0      0.0       0.0
Lohardaga      2020       0.0       0.0  40000.0      0.0      0.0       0.0
               2021   20000.0       0.0      0.0      0.0      0.0       0.0
               2022       0.0       0.0      0.0      0.0   7000.0       0.0
Palamu         2020       0.0       0.0      0.0      0.0      0.0       0.0
               2021       0.0       0.0      0.0   8000.0      0.0       0.0
               2022   35000.0       0.0      0.0      0.0      0.0       0.0
Ramgarh        2020       0.0       0.0  50000.0      0.0      0.0       0.0
               2021       0.0       0.0      0.0      0.0      0.0       0.0
               2022       0.0       0.0      0.0  10000.0      0.0       0.0
Ranchi         2020       0.0       0.0  55000.0      0.0      0.0       0.0
               2021  100000.0       0.0      0.0      0.0      0.0       0.0
               2022       0.0       0.0      0.0      0.0      0.0   95000.0
Simdega        2020       0.0       0.0      0.0      0.0   1500.0       0.0
               2021       0.0   15000.0      0.0      0.0      0.0       0.0
               2022       0.0       0.0      0.0      0.0      0.0   85000.0
West Singhbhum 2020       0.0   15000.0      0.0      0.0      0.0       0.0
               2021       0.0       0.0      0.0      0.0      0.0       0.0
               2022       0.0       0.0      0.0      0.0      0.0       0.0

Mineral              Limestone     Mica  Uranium     iron
District       Year
Bokaro         2020        0.0      0.0      0.0      0.0
               2021        0.0      0.0  35000.0      0.0
               2022    75000.0      0.0      0.0      0.0
Chatra         2020        0.0      0.0      0.0      0.0
               2021        0.0      0.0      0.0      0.0
               2022        0.0      0.0      0.0      0.0
Deoghar        2020        0.0      0.0      0.0      0.0
               2021        0.0  12000.0      0.0      0.0
               2022        0.0      0.0      0.0  10000.0
Dhanbad        2020        0.0      0.0      0.0      0.0
               2021        0.0      0.0      0.0      0.0
               2022        0.0      0.0      0.0      0.0
Dumka          2020        0.0      0.0  27000.0      0.0
               2021        0.0      0.0      0.0      0.0
               2022    40000.0      0.0      0.0      0.0
East Singhbhum 2020        0.0      0.0      0.0      0.0
               2021        0.0      0.0      0.0      0.0
               2022    45000.0      0.0      0.0      0.0
Giridih        2020        0.0      0.0      0.0      0.0
               2021        0.0      0.0      0.0      0.0
               2022        0.0      0.0      0.0      0.0
Hazaribagh     2020        0.0      0.0      0.0      0.0
               2021        0.0      0.0      0.0      0.0
               2022    75000.0      0.0      0.0      0.0
Lohardaga      2020        0.0      0.0      0.0      0.0
               2021        0.0      0.0      0.0      0.0
               2022        0.0      0.0      0.0      0.0
Palamu         2020        0.0      0.0  30000.0      0.0
               2021        0.0      0.0      0.0      0.0
               2022        0.0      0.0      0.0      0.0
Ramgarh        2020        0.0      0.0      0.0      0.0
               2021        0.0  12000.0      0.0      0.0
               2022        0.0      0.0      0.0      0.0
Ranchi         2020        0.0      0.0      0.0      0.0
               2021        0.0      0.0      0.0      0.0
               2022        0.0      0.0      0.0      0.0
Simdega        2020        0.0      0.0      0.0      0.0
               2021        0.0      0.0      0.0      0.0
               2022        0.0      0.0      0.0      0.0
West Singhbhum 2020        0.0      0.0      0.0      0.0
               2021        0.0  13000.0      0.0      0.0
               2022        0.0      0.0  25000.0      0.0

In [35]:
#   o	Analyze trends for specific districts or years.


# Filter the pivot table for a specific year

In [36]:
df.head(2)

,District,Mineral,Quantity (Tonnes),Year,Company,Revenue (Million INR)
0,Dhanbad,Coal,50000,2020,Coal India,1000
1,Ranchi,Bauxite,100000,2021,NALCO,2000